.recipe-search {
  width: 100%;
}

.recipe-search-container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.recipe-search-input {
  flex: 1;
}

.recipe-search-button {
  flex-shrink: 0;
}

@media (width < 600px) {
  .recipe-search-container {
    flex-direction: column;
  }

  .recipe-search-button {
    width: 100%;
  }
}
